menu "DS1603l-configuration"
    depends on ROBUSTO_LOAD_DS1603L

    config ROBUSTO_DS1603L_SIMULATION
        bool "Enable simulation mode"
        default "n"
        help
            This enables simulation mode, which makes the library return example data instead of querying the device.
            Normally, this is used for testing or display purposes.

endmenu
